USE [master]
GO
/****** Object:  Database [Forms]    Script Date: 9/2/2020 1:51:02 AM ******/
CREATE DATABASE [Forms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Forms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Forms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Forms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Forms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Forms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Forms]
GO
/****** Object:  Table [dbo].[FormMembers]    Script Date: 9/2/2020 1:51:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormMembers](
	[fid] [bigint] NOT NULL,
	[uid] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 9/2/2020 1:51:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uid] [bigint] NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[creationdate] [datetime] NOT NULL,
	[endate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[IsPublic] [bit] NOT NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 9/2/2020 1:51:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[qid] [bigint] NOT NULL,
	[opt_txt] [nchar](10) NOT NULL,
	[is_correct] [bit] NOT NULL,
	[user_mark] [bit] NOT NULL,
 CONSTRAINT [PK_Options] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 9/2/2020 1:51:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fid] [bigint] NOT NULL,
	[question] [varchar](max) NOT NULL,
	[marks] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/2/2020 1:51:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[email] [varchar](256) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[Image] [varchar](max) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FormMembers]  WITH CHECK ADD  CONSTRAINT [FK_FormMembers_Forms] FOREIGN KEY([fid])
REFERENCES [dbo].[Forms] ([id])
GO
ALTER TABLE [dbo].[FormMembers] CHECK CONSTRAINT [FK_FormMembers_Forms]
GO
ALTER TABLE [dbo].[FormMembers]  WITH CHECK ADD  CONSTRAINT [FK_FormMembers_users] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[FormMembers] CHECK CONSTRAINT [FK_FormMembers_users]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_users] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_users]
GO
ALTER TABLE [dbo].[Options]  WITH CHECK ADD  CONSTRAINT [FK_Options_Questions] FOREIGN KEY([qid])
REFERENCES [dbo].[Questions] ([id])
GO
ALTER TABLE [dbo].[Options] CHECK CONSTRAINT [FK_Options_Questions]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Forms] FOREIGN KEY([fid])
REFERENCES [dbo].[Forms] ([id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Forms]
GO
USE [master]
GO
